.grid {
  display: grid;
  grid-template-columns: repeat(11, 32px);
  gap: 2px;
}

.truchet-a {
  transform: rotate(-90deg);
}

.truchet-c {
  transform: rotate(90deg);
}

.truchet-d {
  transform: rotate(180deg);
}
